body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    color: #333;
  }
  
  input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
  }
  